
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    
  margin: 0;
  padding: 0;
  
}

/* Set background color and font styles */
body {
  color: #1A1A1A;
  font-family: Arial, sans-serif;
}

/* Header styles */
#header {
 background-color:  #6630D9 ;
  color: #ffffff;
  padding: 10px;
}

#header-img {
  width: 100px;
  height: 100px;
}

#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.product-card {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
.product-card h3 {
  color: #6630D9; /* electric indigo */
  font-size: 20px;
  margin-bottom: 10px;
}

iframe{
  text-align: center;
}
.product-card p {
  color: #1A1A1A; /* eerie black */
  margin-bottom: 15px;
}

.product-card a {
  color: #4D2DEB; /* palatinate blue */
  text-decoration: none;
}

.product-card a:hover {
  color: #C2BCC2; /* french gray */
}
#nav-bar {
  background-color: #6630D9;
  display: flex;
color: #ffffff;
  justify-content: space-around;
  margin-top: 10px;
  
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

/* Main content styles */
main {
  padding: 20px;
  margin-top: 140px;
}

h2 {
  margin-bottom: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#email {
  margin-bottom: 10px;
  padding: 5px;
}



#submit {
  padding: 10px;
  background-color: #6630D9; /* electric indigo */
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color: #EDB0C3;
  color: #1A1A1A;
  padding: 10px;
  text-align: center;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
  main {
    padding: 10px;
    margin-top: 100px;
  }
}
