body {
  background-image: url(https://wallpaperaccess.com/full/7475102.png);
  font-family: cursive;
  padding: 20px;
  color: white;
}
.survey-form {
  text-align: center;
  box-shadow: 0 0 20px 0 hsla(223,59%,31%,.8);
  width: 200px;
  margin: auto;
  
fieldset:last-of-type {
  border-bottom: none;
}

  
}

.label {
  text-align: center;
  
}
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #ff0055;
}

.title {
  font-family: cursive;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  color: linear-gradient(90deg, magenta, pink);
 
  
}

.form-control {
margin: auto;
text-align: center;
}
.subtitle {
  font-family: cursive;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
  text-align: center
}



h1, h2 {
  text-align: center;
}

.block {
width: 80%;
background: linear-gradient(rgba(255,0,127, .8),rgba(100,0,255, .7));
margin-left: auto;
margin-right: auto;
padding: 15px;
max-width: 740px;
box-shadow: 0 0 px 0 black;

}


/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
