
body {
  font-family: Arial;
  background-color: #F26A8D;
  color: #333;
  margin: 0;
  padding: 0;
  
}
p {
  font-family: Arial;
}
b {
  font-size: 150%;
}
/*  These are the Form Styles */
.block {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #F49CBB;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
}

.survey-form {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}
/* These are the input styles and submit button styles*/
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: auto;
  border: 1px solid #dd2d4a;
  border-radius: 4px;
  font-size: 14px;
  cursor: text;
}

input[type="number"],
select {
  width: 100%%;
  padding: auto;
  border: 1px solid #dd2d4a;
  border-radius: 4px;
  font-size: 14px;
  cursor: text;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.input-textarea {
  resize: vertical;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #DD2D4A;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


@media (max-width: 600px) {
  .block {
    padding: 10px;
  }
}

